
@media only screen and (min-width:780px) {

body{
	display: grid;
	height: 100vh;
	width:100%;
}



.header {
  display: flex;
  background-color: tan;
  width: 100%;
}

#logo {
  display: flex;
  float: left;
  width: 20vw;
  padding-right: 20px;
}
#slogan {
  font-size: 3vw;
}
.center {
  display: flex;
  background-color: aqua;
  width: 100%;
}


.center p {
  font-size: 3vw;
}

    .sect1{
		width: 75%;
	}
		
	.sect2{
		width:25%;
		}
		
.center h2{
	font-size: 6vw;
}

.backdrop {
  float: right;
  width: 100%;
  min-height: 100%;
}


.bottom {
	background-color: tan;
}

#example_title{
	font-size:2em;
	font-weight:bold;
}
	
.bottom img{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

		}

@media only screen and (max-width: 400px) {
	
body{
	display: grid;
	height: 100vh;
	width:100%
}


.header { 
	display:flex;
	background-color: tan;
	width:100%;
	
}



.logo{
	display:flex;
	width:20vw;
	float:left;
		
}

.slogan{
	display:flex;
	flex-wrap:wrap;
	font-weight: 40vh;
}

.center {
	height:auto;
	width:100%;
	background-color: aqua;
}

.center h2{
	font-size: 8vw;
}

.center p {
  font-size: 6vw;
}


.bottom {
	background-color: tan;
	width: 100%;
	height: 100%;
	
}

#example_title{
	font-size:3em;
	font-weight:bold;
}
	
.bottom img{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
}

@media only screen and (min-width: 400px) and (max-width: 780px) {
	
	body{
	display: grid;
	/*height: 100vh; */
	width:100%
}


.header { 
	display:flex;
	background-color: tan;
	width:100%;
	height: 100%
}



.logo{
	display:flex;
	width:20vh;
	float:left;
		
}

.slogan{
	display:flex;
	flex-wrap:wrap;
	
}

.slogan h1{
	
	font-size: 3em;
}
.slogan h2 {
	font-size:2em;
	
	
}

.center {
	height:auto;
	width:100%;
	background-color: aqua;
}

.center h2{
	font-size: 8vw;
}

.center p {
  font-size: 6vw;
}
.backdrop {
  float: right;
  width: 100%;
  min-height: 100%;

}

.bottom {
	background-color: tan;
	width: 100%;
	height: 100%;
	
}

#example_title{
	font-size:3em;
	font-weight:bold;
	text-align: center;
}

.row {
	  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  height: 100%;
	
	
}

.column {
	
	width:50%;
	
}


}